@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@ViewBag.Title - University</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="navbar navbar-expand-sm navbar-light bg-white border-bottom">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Course" asp-action="Courses">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Student" asp-action="Students">Students</a>
                    </li>
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                            </li> }
                        else
                        {

                             <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a></li> 
                             <li><p>Hello, @User.Identity.Name</p></li>

                        }

                </ul>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - University
        </div>
    </footer>
    <script></script>
    @await RenderSectionAsync("Scripts",false) 
</body>
</html>
